body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, red, green, yellow, skyblue);
    margin: 0;
    padding: 20px;
    text-align: center;
    color: black;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

.banderas img {
    width: 20px; /* Ajustado para un tamaño pequeño, tipo emoji */
    height: auto;
    margin: 2px; /* Margen reducido para ajustarse al nuevo tamaño */
    vertical-align: middle; /* Alineación con texto si es necesario */
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#galeria img {
    width: 200px; /* Tamaño uniforme para las imágenes */
    height: auto;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
